In [55]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import seaborn as snb

In [56]:
df = pd.read_csv("Iris.csv")

In [57]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [58]:
df.drop(columns='Id',inplace=True)

In [59]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [61]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [62]:
df['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [63]:
df.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [64]:
#label_encoder = LabelEncoder()
#df['Species']=label_encoder.fit_transform(df['Species'])

In [65]:
#df['Species'].value_counts()

In [66]:
#corr=df.corr()

In [67]:
#snb.heatmap(corr,annot=True)

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
x=df.drop(columns=['Species'])

In [70]:
y=df['Species']

In [71]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)

In [72]:
from sklearn.linear_model import LogisticRegression

In [73]:
mdl=LogisticRegression()

In [74]:
mdl.fit(x_train,y_train)

LogisticRegression()

In [75]:
print("Accuracy:  ",mdl.score(x_test,y_test)*100)

Accuracy:   97.77777777777777

In [76]:
import pickle

In [77]:
filename = 'model.sav'
pickle.dump(mdl,open(filename,'wb'))

In [78]:
load_mdl=pickle.load(open(filename,'rb'))

In [79]:
load_mdl.predict([[6.0,2.2,4.0,1.0]])

C:\Users\wiz_p\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['Iris-versicolor'], dtype=object)